<table class='table table-condensed' id='sortable-table'>
	<thead>
	<tr>
		<th>Item</th>
		<th>Specification</th>
		<th class="text-right">Quantity</th>
		<th class="text-right">Unit Price</th>
		<th class="text-right">Total</th>
		<th></th>
	</tr>
	</thead>
	<tbody id="purchase-order-lines" data-update-url="<%= sort_purchase_order_lines_url %>">
	<% @purchase_order.purchase_order_lines.each do |line| %>
		<%= content_tag_for :tr, line do %>
			<td width="120"><%= line.name %></td>
			<td width="350"><%= line.description %></td>
			<td class="text-right"><%= line.quantity %></td>
			<td class="text-right"><%= number_to_currency(line.unit_price) %></td>
			<td class="text-right"><%= number_to_currency(line.total) %></td>
			<td class="text-right">
			<% if @purchase_order.open? %>
				<% if allow? :purchase_order_lines, :edit %>
					<i class="icon-th-list handle"></i> |
					<%= link_to raw('<i class="icon-edit"></i>'), edit_purchase_order_line_path(line) %> |
	 				<%= link_to raw('<i class="icon-trash"></i>'), purchase_order_line_path(line), method: :delete, data: { confirm: 'Are you sure?' }, id: "Remove" %>
				<% end %>
			<% end %>
			</td>
			<% end %>
		<% end %>
	</tbody>
</table>