<table class='table table-condensed' id="po-header-table">
  <tr>
    <td>Title</td>
    <th><%= @purchase_order.name %></th>
	<td>Total</td>
	<th><%= number_to_currency(@purchase_order.total) %></th>
  </tr>
  <tr>
    <td>Instructions</td>
    <td width="50%"><%= simple_format(@purchase_order.description) %></td>
    <td>Due Date</td>
    <td><%= @purchase_order.due_date %></td>
  </tr>
  <tr>
  	<td>Client</td>
  	<td><%= @purchase_order.client_name %></td>
  	<td>Project</td>
		<td><%= simple_format("#{@purchase_order.project_code} - #{@purchase_order.project_name}") %></td>
  </tr>
  <tr>
    <td>Customer</td>
    <td><%= @purchase_order.customer_name %><br />
		<% if !@purchase_order.customer.addresses.empty? %>
		<%= simple_format("#{@purchase_order.customer.addresses.first.body}\n#{@purchase_order.customer.addresses.first.post_code}") %>
		<% end %>
	</td>
	<td>Supplier</td>
	<td><%= @purchase_order.supplier_name %><br />
	<% if @purchase_order.address %>
	<%= simple_format("#{@purchase_order.address.body}\n#{@purchase_order.address.post_code}") %>
	<% end %>
	</td>
  </tr>
  <tr>
    <td>Delivery</td>
    <td><%= @purchase_order.delivery_name %><br />
	<% if @purchase_order.delivery_address %>
	<%= simple_format("#{@purchase_order.delivery_address.body}\n#{@purchase_order.delivery_address.post_code}") %>
	<% end %></td>
	<td>Contact</td>
	<td>
		<%= @purchase_order.contact_name %><br />
		<%=	@purchase_order.contact_telephone %><br />
		<%= mail_to(@purchase_order.contact_email, nil, encode: :javascript) %>
	</td>
  </tr>
  <tr>
    <td>Internal Notes</td>
    <td><%= simple_format(@purchase_order.notes) %></td>
	<td>Status</td>
	<th><%= @purchase_order.status %></th>
  </tr>
</table>