<table class='table table-condensed table-hover' id='sortable-table'>
	<thead>
	<tr>
		<th>Category</th>
		<th>Item</th>
		<th>Specification</th>
		<th class="text-right">Quantity</th>
		<th class="text-right">Unit Price</th>
		<th class="text-right">Total</th>
		<th></th>
	</tr>
	</thead>
	<tbody id="quote-lines" data-update-url="<%= sort_quotation_lines_url %>">
	<% @quotation.quotation_lines.each do |line| %>
		<%= content_tag_for :tr, line do %>
			<td width="120"><%= line.category %></td>
			<td width="120"><%= line.name %></td>
			<td width="350"><%= line.description %></td>
			<td class="text-right"><%= line.quantity %></td>
			<td class="text-right"><%= number_to_currency(line.unit_price) %></td>
			<td class="text-right"><%= number_to_currency(line.total) %></td>
			<% if @quotation.open? && allow?(:quotation_lines, :edit) %>
      <td class="text-right">
      	<i class="icon-th-list handle"></i> |
				<%= link_to icon(:edit), edit_quotation_line_path(line) %> |
				<%= link_to icon(:plus), copy_quotation_line_path(@quotation, line), method: :post, data: { confirm: 'Copy this line?' } %> |
				<%= link_to icon(:trash), quotation_line_path(line), method: :delete, data: { confirm: 'Delete line - are you sure?' }, id: "Remove" %>
				</td>
			<% else %>
			  <td></td>
			<% end %>
		<% end %>
	<% end %>
	</tbody>
</table>