<table class='table table-condensed' id='sq-detail-table'>
	<tr>
		<th>Category</th>
		<th>Item</th>
		<th>Specification</th>
		<th class="text-right">Quantity</th>
		<th class="text-right">Unit Price</th>
		<th class="text-right">Total</th>
		<th></th>
	</tr>
	<% @quotation.quotation_lines.order(:category, :id).each do |line| %>
		<tr>
			<td width="120"><%= line.category %></td>
			<td width="120"><%= line.name %></td>
			<td width="350"><%= line.description %></td>
			<td class="text-right"><%= line.quantity %></td>
			<td class="text-right"><%= number_to_currency(line.unit_price) %></td>
			<td class="text-right"><%= number_to_currency(line.total) %></td>
			<td class="text-right">
			<% if @quotation.open? %>
			<% if allow? :quotation_lines, :edit %>
				<%= link_to 'Edit', edit_quotation_line_path(line) %> |
				<%= link_to 'Remove', quotation_line_path(line), method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
			<% end %>
			</td>
		</tr>
	<% end %>
</table>