<h1>Quotations</h1>

<%= form_tag quotations_path, method: 'get', class: "navbar-search pull-left", id: "quotations_search" do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= text_field_tag :search, params[:search], class: "search-query", placeholder: 'Search in Title', autofocus: "autofocus" %>
    <%= submit_tag "Search", name: nil, class: "hidden" %>
<% end %>

<br><br>

<table class='table table-condensed table-hover'>
  <tr>
    <th><%= sortable "quotations.code","Code" %> <%= arrow "quotations.code" %></th>
	<th><%= sortable "quotations.name","Title" %> <%= arrow "quotations.name" %></th>
    <th><%= sortable "projects.code","Project" %> <%= arrow "projects.code" %></th>
    <th><%= sortable "companies.name","Customer" %> <%= arrow "companies.name" %></th>
    <th><%= sortable "issue_date","Issue Date" %> <%= arrow "issue_date" %></th>
    <th><%= sortable "total","Total" %> <%= arrow "total" %></th>
    <th><%= sortable "status","Status" %> <%= arrow "status" %></th>
  </tr>

<% @quotations.each do |quotation| %>
  <tr onclick="location.href='<%= quotation_path(quotation) %>'">
    <td><%= quotation.code %></td>
	<td><%= quotation.name %></td>
    <td><%= quotation.project.code %></td>
    <td><%= quotation.customer.name %></td>
    <td><%= quotation.issue_date %></td>
    <td><%= number_to_currency(quotation.total) %></td>
    <td><%= quotation.status %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quotation via Company', companies_path %>
