<h1 id='quotation-show-page'>Sales Quotation for <%= @quotation.customer.name %></h1>
<% @title = "MARS - show #{@quotation.name}" %>
<h3><%= @quotation.code %>
<% if @quotation.open? %>
	<%= link_to 'Edit', edit_quotation_path(@quotation), class: 'float-right btn btn-primary' %>
<% elsif @quotation.issued? %>
	<%= link_to 'Re-open', reopen_quotation_path(@quotation), method: :put,
		class: 'float-right btn btn-warning',data: { confirm: 'Are you sure?'} %>
	<%= link_to 'Email quotation', new_email_path(type: 'Quotation', id: @quotation.id),
		class: 'float-right btn btn-primary' %>
<% end %></h3>

<%= render 'sq_header' %>

<% if @quotation.open? %>
	<%= render 'sq_line_card' %>
<% end %>

<h3>Detail</h3>

<%= render 'sq_detail' %>


<div class='form-group row'>
<% if @quotation.issued? && (allow? :sales_orders, :create) %>
<div class='col-3'>
	<%= link_to 'Make Order', convert_quotation_path(@quotation), method: :post,
			class: 'float-right btn btn-primary',data: { confirm: 'Are you sure?'} %>
</div>
<% end %>
<% if @quotation.issued? %>
	<div class='col-3'>
		<%= link_to "Cancel Quotation", cancel_quotation_path(@quotation), method: :put,
			data: { confirm: 'Are you sure? This cannot be undone.' },
			class: "float-right btn btn-danger" %>
	</div>
<% end %>
<% if @quotation.open? %>
<div class='col-3'>
	<%= link_to "Issue Quotation", issue_quotation_path(@quotation), method: :put, #id: @quotation.id,
	data: { confirm: 'The quotation is ready to send to customer?' }, class: "btn btn-warning" %>
</div>
<div class='col-3'>
		<%= link_to "Cancel Quotation", cancel_quotation_path(@quotation), method: :put,
		data: { confirm: 'Are you sure? This cannot be undone.' }, class: "btn btn-danger" %>
</div>
<% end %>
</div>
<%= link_to 'Customer', company_path(@quotation.customer_id) %> |
<%= link_to 'Project', project_path(@quotation.project_id) %> |
<%= link_to "Printable Quote (PDF)", quotation_path(@quotation, format: "pdf") %> |
<%= link_to 'Email history', quotation_emails_path(@quotation) %> |
<%= link_to 'Event history', quotation_events_path(@quotation) %> |
<%= link_to 'Export to file(CSV)', quotation_path(@quotation, format: "csv") %>