<%= simple_form_for [@company, @contact], wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>

	<div class="form-group row">
		<div class="col-6">
			<%= f.input :name %>
			<%= f.input :job_title %>
			<%= f.association :address, collection: @company.addresses %>
			<%= f.input :telephone %>
			<%= f.input :mobile %>
			<%= f.hidden_field :company_id, value: @company.id %>
			<%= f.input :fax %>
			<%= f.input :email %>
			<%= f.input :notes, input_html: {rows: 6} %>
	    <%= f.button :submit, class: 'btn btn-primary offset-4' %>
    </div>
  </div>
<% end %>