<%= simple_form_for [@company, @contact], :html => { :class => 'form-horizontal'} do |f| %>
  <%= f.error_notification %>

	<div class="row">
		<div class="span6">
			<div class="form-inputs">
			<%= f.input :name %>
			<%= f.input :job_title %>
			<%= f.association :address, collection: @company.addresses %>
			<%= f.input :telephone %>
			<%= f.input :mobile %>
			<%= f.hidden_field :company_id, value: @company.id %>
			</div>
		</div>
	<div class="row">
		<div class="span6">
			<div class="form-inputs">
			<%= f.input :fax %>
			<%= f.input :email %>
			<%= f.input :notes, input_html: {rows: 6, cols: 60} %>
			</div>
		</div>
	</div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>