<h1 id="contacts-index-page">Contacts</h1>

<% if allow? :contacts, :new %>
	<%= link_to 'New Contact via Companies', companies_path, class: "pull-right" %>
<% end %>

<%= form_tag contacts_index_path, method: 'get', class: "navbar-search pull-left", remote: true, id: "contacts_search" do %>
	<%= text_field_tag :search, params[:search], class: "search-query", placeholder: 'Search' %>
	<%= submit_tag "Search", name: nil, class: "hidden" %>
<% end %>

<br><br>
<div id="contacts"><%= render 'contacts' %></div>

<% if allow? :contacts, :new %>
	<%= link_to 'New Contact via Companies', companies_path %>
<% end %>

