<% @title = "MARS - show #{@contact.name}"%>
<h1>
  Contact
  <div class="btn-group float-right">
  <% if allow? :contacts, :edit %>
    <%= link_to 'Edit', edit_company_contact_path(@contact.company, @contact),
      class: "btn btn-primary" %>
  <% end %>
  <% if allow? :contacts, :destroy %>
        <%= link_to "Delete", [@contact.company, @contact], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
  <% end %>
  </div>
</h1>
<table class='table table-sm'>
  <tr>
    <td>Name</td>
    <td><%= @contact.name %></td>
  </tr>
  <tr>
    <td>Job Title</td>
    <td><%= @contact.job_title %></td>
  </tr>
  <tr>
    <td>Company</td>
    <td><%= @contact.company.name %></td>
  </tr>
  <tr>
    <td>Address</td>
	<% if @contact.address %>
    	<td><%= simple_format("#{@contact.address.body}\n#{@contact.address.post_code}") %></td>
    <% else %>
		<td></td>
	<% end %>
  </tr>
  <tr>
    <td>Telephone</td>
    <td><%= @contact.telephone %></td>
  </tr>
  <tr>
    <td>Mobile</td>
    <td><%= @contact.mobile %></td>
  </tr>
  <tr>
    <td>Fax</td>
    <td><%= @contact.fax %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @contact.email %></td>
  </tr>
  <tr>
    <td>Notes</td>
    <td><%= simple_format(@contact.notes) %></td>
  </tr>
</table>

<%= link_to 'All Contacts list', contacts_path %> | <%= link_to 'Company', @contact.company %>
