<table class="table table-hover table-condensed">
  <tr>
    <th><%= sortable "projects.code","Code" %> <%= arrow "projects.code" %></th>
    <th><%= sortable "projects.name","Name" %> <%= arrow "projects.name" %></th>
		<th><%= sortable "companies.name","Company" %> <%= arrow "companies.name" %></th>
		<th><%= sortable "start_date", "Start" %> <%= arrow "start_date" %></th>
		<th><%= sortable "end_date", "End" %> <%= arrow "end_date" %></th>
		<th><%= sortable "status", "Status" %> <%= arrow "status" %></th>
  </tr>

<% @projects.each do |project| %>
  <tr title="Click to view details" class="rowlink" data-rowlink="<%= project_path(project) %>">
    <td><%= project.code %></td>
  	<td><%= project.name %></td>
  	<td><%= project.company.name %></td>
  	<td><%= project.start_date %></td>
  	<td><%= project.end_date %></td>
  	<td><%= project.status %></td>
  </tr>
<% end %>
</table>