<table class='table table-sm'>
  <tr class='grey-header'>
    <th>Purchase Orders</th><th></th><th></th>
    <td class="text-right">
    	<% if (allow? :purchase_orders, :setup) && @project.open? %>
    		<%= link_to "New Purchase Order", setup_purchase_order_path(project_id: @project.id, client_id: @project.company_id) %>
    	<% end %>
    </td>
  </tr>
	<% @project.purchase_orders.each do |purchase_order| %>
	  <tr>
			<td><%= link_to purchase_order.code, purchase_order %></td>
		  <td><%= purchase_order.supplier.name %></td>
			<td class="text-right"><%= number_to_currency(purchase_order.total) %></td>
			<td class="text-right"><%= purchase_order.status %></td>
	  </tr>
  <% end %>
</table>