<h1 id="projects-index-page">Projects</h1>

<% if allow? :projects, :new %>
	<%= link_to 'New Project', new_project_path, class: "btn btn-primary pull-right" %>
<% end %>

<%= form_tag projects_path, method: 'get', class: "navbar-search pull-left", remote: true, id: "projects_search" do %>
	<%= text_field_tag :search, params[:search], class: "search-query", placeholder: 'Search Name' %>
	<%= submit_tag "Search", name: nil, class: "hidden" %>
<% end %>

<br><br>
<div id="projects"><%= render 'projects' %></div>

<% if allow? :projects, :new %>
	<%= link_to 'New Project', new_project_path %>
<% end %>
