<h1>Project <%= "for #{@project.company.name}"%></h1>
<% @title = "MARS - show #{@project.name}"%>
<h3><%= @project.code %> <%= link_to 'Edit', edit_project_path(@project), class: 'pull-right btn btn-primary' %></h3>
<table class='table table-condensed'>
  <tr>
    <td>Name</td>
    <th><%= @project.name %></th>
	<td>Start Date</td>
    <td><%= @project.start_date %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @project.status %></td>
	<td>End Date</td>
    <td><%= @project.end_date %></td>
  </tr>
  <tr>
	<td>Value</td>
    <td><%= number_to_currency(@project.value) %></td>
	<td>Completion Date</td>
    <td><%= @project.completion_date %></td>
  </tr>
</table>
<table class='table table-condensed'>
  <tr>
    <td>Notes</td>
    <td><%= simple_format(@project.notes) %></td>
  </tr>
</table>
<%= render 'quotations' %>

<%= link_to 'Customer', company_path(@project.company) %> | <%= link_to 'Projects', projects_path %>