<h1>Project <%= "for #{@project.company.name}"%></h1>
<% @title = "MARS - show #{@project.name}"%>
<h3><%= @project.code %> 
    <%= @project.name %>
    <div class="btn-group pull-right">
      <% if allow? :projects, :edit %>
        <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary' %>
      <% end %>
      <% if allow? :projects, :destroy %>
        <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' },
        class: "btn btn-warning" %>
      <% end %>
    </div>
</h3>
<table class='table table-condensed'>
  <tr class='grey-header'>
    <th>Summary</th>
    <td class="vertical-divider"></td>
    <td></td>
    <th>Status</th>
    <th class="text-right">Quotes</th>
    <th class="text-right">Sales</th>
    <th class="text-right">Purchase</th>
  </tr>
  <tr>
    <td>Start Date</td>
    <td class="text-right vertical-divider"><%= @project.start_date %></td>
    <td></td>
    <td>Open</td>
    <td class="text-right"><%= number_to_currency(@project.quotes_total('open')) %></td>
    <td class="text-right"><%= number_to_currency(@project.sales_total('open')) %></td>
    <td class="text-right"><%= number_to_currency(@project.purchase_total('open')) %></td>
  </tr>
  <tr>
    <td>End date</td>
    <td class="text-right vertical-divider"><%= @project.end_date %></td>
    <td></td>
    <td>Issued</td>
    <td class="text-right"><%= number_to_currency(@project.quotes_total('issued')) %></td>
    <td class="text-right"><%= number_to_currency(@project.sales_total('issued')) %></td>
    <td class="text-right"><%= number_to_currency(@project.purchase_total('issued')) %></td>
  </tr>
	<tr>
    <td>Completion date</td>
    <td class="text-right vertical-divider"><%= @project.completion_date %></td>
    <td></td>
    <td>Accepted</td>
    <td></td>
    <td class="text-right"><%= number_to_currency(@project.sales_total('accepted')) %></td>
    <td class="text-right"></td>
  </tr>
  <tr>
    <td>Status</td>
    <td class="text-right vertical-divider"><%= @project.status %></td>
    <td></td>
    <td>Invoiced</td>
    <td></td>
    <td class="text-right"><%= number_to_currency(@project.sales_total('invoiced')) %></td>
    <td class="text-right"></td>
  </tr>
  <tr>
    <td>Value</td>
    <td class="text-right vertical-divider"><%= number_to_currency(@project.value) %></td>
    <td></td>
    <td>Paid</td>
    <td></td>
    <td class="text-right"><%= number_to_currency(@project.sales_total('paid')) %></td>
    <td class="text-right"><%= number_to_currency(@project.purchase_total('paid')) %></td>
  </tr>
  <tr>
    <th>Total Sales</th>
    <th class="text-right"><%= number_to_currency(@project.quotes_total_total + @project.sales_total_total) %></th>
    <td></td>
    <th>Total</th>
    <th class="text-right"><%= number_to_currency(@project.quotes_total_total) %></th>
    <th class="text-right"><%= number_to_currency(@project.sales_total_total) %></th>
    <th class="text-right"><%= number_to_currency(@project.purchase_total_total) %></th>
  </tr>
</table>
<table class='table table-condensed'>
  <tr>
    <th>Notes</th>
    <td><%= simple_format(@project.notes) %></td>
  </tr>
</table>
<%= render 'quotations' %>
<%= render 'sales_orders' %>
<%= render 'purchase_orders' %>
<% if (allow? :projects, :close) && @project.open? %>
  <%= link_to 'Close Project', close_project_path(@project), method: :put, 
    data: { confirm: 'Close project to future use?' }, class: "btn btn-warning" %>
    <br />
<% end %>

<%= link_to 'Customer', company_path(@project.company) %> | <%= link_to 'Projects', projects_path %>