<h1>Project <%= "for #{@project.company.name}"%></h1>
<% @title = "MARS - show #{@project.name}"%>
<h3><%= @project.code %> 
    <%= @project.name %>
    <% if allow? :projects, :edit %>
      <%= link_to 'Edit', edit_project_path(@project), class: 'pull-right btn btn-primary' %>
    <% end %>
</h3>
<table class='table table-condensed'>
  <tr class='grey-header'>
    <th>Summary</th>
    <td></td>
    <td></td>
    <th class="text-right">Quotes</th>
    <th class="text-right">Sales</th>
    <th class="text-right">Purchase</th>
  </tr>
  <tr>
    <td>Start Date</td>
    <td><%= @project.start_date %></td>
    <td class="text-right">Open</td>
    <td class="text-right"><%= number_to_currency(@project.quotes_total('open')) %></td>
    <td class="text-right"><%= number_to_currency(@project.sales_total('open')) %></td>
    <td class="text-right"></td>
  </tr>
  <tr>
    <td>End date</td>
    <td><%= @project.end_date %></td>
    <td class="text-right">Issued</td>
    <td class="text-right"><%= number_to_currency(@project.quotes_total('issued')) %></td>
    <td class="text-right"><%= number_to_currency(@project.sales_total('issued')) %></td>
    <td class="text-right"></td>
  </tr>
	<tr>
    <td>Completion date</td>
    <td><%= @project.completion_date %></td>
    <td class="text-right">Accepted</td>
    <td></td>
    <td class="text-right"><%= number_to_currency(@project.sales_total('accepted')) %></td>
    <td class="text-right"></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @project.status %></td>
    <td class="text-right">Invoiced</td>
    <td></td>
    <td class="text-right"><%= number_to_currency(@project.sales_total('invoiced')) %></td>
    <td class="text-right"></td>
  </tr>
  <tr>
    <td>Value</td>
    <td class="text-right"><%= number_to_currency(@project.value) %></td>
    <td class="text-right">Paid</td>
    <td></td>
    <td class="text-right"><%= number_to_currency(@project.sales_total('paid')) %></td>
    <td class="text-right"></td>
  </tr>
  <tr>
    <th>Total Sales</th>
    <th class="text-right"><%= number_to_currency(@project.quotes_total_total + @project.sales_total_total) %></th>
    <th class="text-right">Total</th>
    <th class="text-right"><%= number_to_currency(@project.quotes_total_total) %></th>
    <th class="text-right"><%= number_to_currency(@project.sales_total_total) %></th>
    <th class="text-right"></th>
  </tr>
</table>
<table class='table table-condensed'>
  <tr>
    <th>Notes</th>
    <td><%= simple_format(@project.notes) %></td>
  </tr>
</table>
<%= render 'quotations' %>
<%= render 'sales_orders' %>
<% if (allow? :projects, :close) && @project.open? %>
  <%= link_to 'Close Project', close_project_path(@project), method: :put, 
    data: { confirm: 'Close project to future use?' }, class: "btn btn-warning" %>
    <br />
<% end %>

<%= link_to 'Customer', company_path(@project.company) %> | <%= link_to 'Projects', projects_path %>