<%= simple_form_for(@company, wrapper: :horizontal_form) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs col-6">
	<% if allow_param? :company, :name %>
    	<%= f.input :name %>
	<% end %>
	<% if allow_param? :company, :reference %>
    	<%= f.input :reference, label: 'Accounts Reference' %>
	<% end %>
    <%= f.button :submit, class: "btn btn-primary offset-4" %>
  </div>
<% end %>
