<table class='table table-condensed'>
	<tr class = 'grey-header'>
	<th>Projects</th><th></th><th></th><th></th>
	<% if allow? :projects, :new %>
		<td class='text-right'><%= link_to 'New Project', new_project_path(company: @company.id), id: 'new-project' %></td>
	<% else %>
		<td></td>
	<% end %>
  </tr>
	<% @company.projects.order("id ASC").each do |project| %>
	  <tr>
	    <td><%= link_to project.code, project %></td>
		<td><%= project.name %></td>
		<td><%= number_to_currency(project.value) %></td>
		<td><%= project.status %></td>
		<td class='text-right'>
		<% if allow? :projects, :edit %>
	    <%= link_to 'Edit', edit_project_path(project) %>
		</td>
		<% end %>
	  </tr>
  <% end %>
</table>