<table class='table table-condensed'>
  <tr class = 'grey-header'>
    <th>Quotations</th><th></th><th></th><th></th>
	<% if allow? :quotations, :new %>
		<td class='text-right'><%= link_to 'New Quotation', new_quotation_path(customer_id: @company.id), id: 'new-quotation' %></td>
	<% else %>
		<td></td>
	<% end %>
  </tr>
	<% @company.requested_quotations.order("id DESC").each do |quote| %>
	  <tr>
		<td><%= quote.code %></td>
	    <td><%= quote.name %></td>
		<td><%= number_to_currency(quote.total) %></td>
		<td><%= quote.current_state %></td>
	    <td class='text-right'><%= link_to 'Show', [quote] %></td>
	  </tr>
  <% end %>
</table>