<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
	<% if allow_param? :company, :name %>
    	<%= f.input :name, readonly: true %>
	<% end %>
	<% if allow_param? :company, :reference %>
    	<%= f.input :reference, label: 'Accounts Reference', readonly: true %>
	<% end %>
  </div>
  
  <% if params[:action] == 'edit' || params[:action] == 'new' %>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
  <% end %>
<% end %>