<table class='table table-condensed'>
  <tr class = 'grey-header'>
    <th>Sales Orders</th><th></th><th></th><th></th>
	<% if allow? :sales_orders, :new %>
		<td class='text-right'><%= link_to 'New Sales Order', new_sales_order_path(customer_id: @company.id), id: 'new-sales-order' %></td>
	<% else %>
		<td></td>
	<% end %>
  </tr>
	<% @company.requested_sales_orders.order("id DESC").each do |sales_order| %>
	  <tr>
		<td><%= link_to sales_order.code, sales_order %></td>
	  <td><%= sales_order.name %></td>
		<td><%= number_to_currency(sales_order.total) %></td>
		<td><%= sales_order.status %></td>
		<td></td>
	  </tr>
  <% end %>
</table>