<h1>Company</h1>
<% @title = "MARS - show #{@company.name}" %>

<table class='table table-condensed'>
  <tr>
    <td>Name</td>
    <td><%= @company.name %></td>
	<td></td>
	<td></td>
  </tr>
  <tr>
    <td>Accounts Reference</td>
    <td><%= @company.reference %></td>
	<td></td>
	<td></td>
  </tr>
  <tr>
  	<th>Addresses</th><th></th><th></th><td><%= link_to 'New', new_address_path %></td>
  </tr>
  <% @company.addresses.each do |addr| %>
	  <tr>
	    <td><%= addr.name %></td>
	    <td><%= simple_format("#{addr.body}\n#{addr.post_code}") %></td>
		<td></td>
		<td><%= link_to 'Show', address_path(addr) %></td>
	  </tr>
  <% end %>
  <tr>
  <th>Contacts</th><th></th><th></th><td><%= link_to 'New', new_contact_path %></td>
  </tr>
	<% @company.contacts.each do |contact| %>
	  <tr>
	    <td><%= contact.name  %></td>
	    <td><%= simple_format("#{contact.job_title}\n#{contact.email}") %></td>
		<td><%= simple_format("T #{contact.telephone}\nM #{contact.mobile}") %></td>
		<td><%= link_to 'Show', contact_path(contact) %></td>
	  </tr>
  <% end %>
</table>



<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
