<h1><%= @company.name %></h1>
<% @title = "MARS - show #{@company.name}" %>

<table class='table table-condensed'>
  <tr class='grey-header'>
    <th>Name</th>
    <td><%= @company.name %></td>
	<td></td>
	<td></td>
	<% if allow? :companies, :edit %>
		<td class='text-right'><%= link_to 'Edit', edit_company_path(@company) %></td>
	<% else %>
		<td></td>
	<% end %>
  </tr>
  <tr>
    <td>Accounts Reference</td>
    <td><%= @company.reference %></td>
	<td></td>
	<td></td>
	<% if allow? :companies, :edit %>
		<td class='text-right'><%= link_to 'Edit', edit_company_path(@company) %></td>
	<% else %>
		<td></td>
	<% end %>
  </tr>
</table>

<%= render 'projects' %>
<%= render 'quotations' %>
<%= render 'sales_orders' %>
<%= render 'purchase_orders' %>
<%= render 'contacts' %>
<%= render 'addresses' %>

<%= link_to 'Company List', companies_path %>
