<% @title = "MARS - show #{@company.name}" %>
<h1>
  <%= @company.name %>
  <div class="btn-group float-right">
    <% if allow? :companies, :edit %>
      <%= link_to "Edit", edit_company_path(@company), class: "btn btn-primary" %>
    <% end %>
    <% if allow? :companies, :destroy %>
        <%= link_to "Delete", @company, method: :delete,
                                        data: { confirm: 'Are you sure?' },
                                        class: "btn btn-warning" %>
    <% end %>
  </div>
</h1>
<table class='table table-sm'>
  <tr class='grey-header'>
    <th>Name</th>
    <td><%= @company.name %></td>
  	<td></td>
  	<td></td>
		<td></td>
  </tr>
  <tr>
    <td>Accounts Reference</td>
    <td><%= @company.reference %></td>
  	<td></td>
  	<td></td>
		<td></td>
  </tr>
</table>

<%= render 'projects' %>
<%= render 'quotations' %>
<%= render 'sales_orders' %>
<%= render 'purchase_orders' %>
<%= render 'contacts' %>
<%= render 'addresses' %>

<%= link_to 'Company List', companies_path %>
