<h1 id="addresses-index-page">Addresses</h1>

<table class='table'>
  <tr>
    <th>Company</th>
    <th>Name</th>
    <th>Address</th>
    <th>Post code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addresses.each do |address| %>
  <tr>
    <td><%= address.company.name %></td>
    <td><%= address.name %></td>
    <td><%= address.body %></td>
    <td><%= address.post_code %></td>
    <td><%= link_to 'Show', [address.company, address] %></td>
	<% if allow? :addresses, :edit %>
    	<td><%= link_to 'Edit', edit_company_address_path(address.company, address) %></td>
	<% else %>
		<td></td>
	<% end %>
	<% if allow? :addresses, :destroy %>
    	<td><%= link_to 'Destroy', [address.company, address], method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% else %>
		<td></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />
<% if allow? :addresses, :new %>
	<%= link_to 'New Address via Companies', companies_path %>
<% end %>
