<h1>Address</h1>

<table class='table table-sm'>
  <tr>
    <td>Company</td>
    <td><%= @address.company.name %></td>
  </tr>
  <tr>
    <td>Name</td>
    <td><%= @address.name %></td>
  </tr>
  <tr>
    <td>Address</td>
    <td><%= simple_format(@address.body) %></td>
  </tr>
  <tr>
    <td>Postcode</td>
    <td><%= @address.post_code %></td>
  </tr>

</table>

<%= link_to 'Back', :back %>
