<%= simple_form_for @email, wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>

	<div class="form-group col-9">
		<% if @email.emailable_type == 'PurchaseOrder' %>
			<%= f.input :to,
						collection: @email.emailable.supplier.contacts.with_email,
						value_method: :email %>
		<% else %>
			<%= f.input :to,
						collection: @email.emailable.customer.contacts.with_email,
						value_method: :email %>
		<% end %>
			<%= f.hidden_field :from, value: @user.email %>
      <%= f.input :cc,
            collection: Contact.with_email,
            value_method: :email,
            input_html: {multiple: true} %>
			<%= f.input :subject, input_html: {value: "#{@email.emailable_type} - #{@email.emailable.code}"} %>
			<%= f.input :body, input_html: {value: "Please find #{@email.emailable_type} - #{@email.emailable.code} attached.", class: 'span6', rows: 7 }%>
			<%= f.hidden_field :attachment, value: format_attachment(@email) %>
			<%= f.hidden_field :emailable_type, value: @email.emailable_type %>
			<%= f.hidden_field :emailable_id, value: @email.emailable.id %>

    <%= f.submit 'Send Email', class: 'btn btn-primary offset-4' %>
		<%= link_to 'Cancel', cancel_path(@email), class: 'btn btn-warning',
													data: {confirm: 'No email will be sent. Note that the document is and will stay issued'} %>
  </div>
<% end %>
