<h1 id="emails-index-page">Emails</h1>

<%= form_tag emails_path, method: 'get', class: "navbar-search pull-left", id: "emails_search" do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= text_field_tag :search, params[:search], class: "search-query", placeholder: 'Search Attachment', autofocus: "autofocus" %>
    <%= submit_tag "Search", name: nil, class: "hidden" %>
<% end %>

<br><br>

<table class="table table-condensed table-hover">
	<tr>
		<th>Type</th>
		<th>From</th>
		<th>To</th>
		<th>Attachment</th>
		<th>Date</th>
	</tr>
	<% @emails.each do |email| %>
		<tr title="Click to view details" class="rowlink" data-rowlink="<%= email_path(email) %>">
			<td><%= email.emailable_type %></td>
			<td><%= email.from %></td>
			<td><%= email.to %></td>
			<td><%= File.basename(email.attachment) %></td>
			<td><%= email.created_at.strftime('%F') %></td>
		</tr>
	<% end %>
</table>

<%= paginate @emails %>

<%= link_to 'Back', :back %>