<table class='table table-condensed' id="sq-header-table">
  <tr>
    <td>Title</td>
    <th><%= @sales_order.name %></th>
  <td>Total</td>
  <th><%= number_to_currency(@sales_order.update_total) %></th>
  </tr>
  <tr>
    <td>Description</td>
    <td width="50%"><%= simple_format(@sales_order.description) %></td>
  <td>Project</td>
  <td><%= simple_format("#{@sales_order.project.code} - #{@sales_order.project.name}") %></td>
  </tr>
  <tr>
    <td>Customer</td>
    <td><%= @sales_order.customer.name %><br />
    <% if @sales_order.address %>
    <%= simple_format("#{@sales_order.address.body}\n#{@sales_order.address.post_code}") %>
    <% end %>
  </td>
  <td>Supplier</td>
  <td><%= @sales_order.supplier.name %><br />
  <% if @sales_order.supplier.addresses.first %>
  <%= simple_format("#{@sales_order.supplier.addresses.first.body}\n#{@sales_order.supplier.addresses.first.post_code}") %>
  <% end %>
  </td>
  </tr>
  <tr>
    <td>Delivery</td>
    <td><%= @sales_order.customer.name %><br />
  <% if @sales_order.delivery_address %>
  <%= simple_format("#{@sales_order.delivery_address.body}\n#{@sales_order.delivery_address.post_code}") %>
  <% end %></td>
  <td>Contact</td>
  <td><% if @sales_order.contact %>
    <%= @sales_order.contact.name %><br />
    <%= @sales_order.contact.telephone %><br />
    <%= mail_to(@sales_order.contact.email, nil, encode: :javascript) %>
    <% end %>
  </td>
  </tr>
  <tr>
    <td>Internal Notes</td>
    <td><%= simple_format(@sales_order.notes) %></td>
  <td>Status</td>
  <th><%= @sales_order.status %></th>
  </tr>
</table>