<table class='table table-condensed' id='sortable-table'>
	<thead>
	<tr>
		<th>Category</th>
		<th>Item</th>
		<th>Specification</th>
		<th class="text-right">Quantity</th>
		<th class="text-right">Unit Price</th>
		<th class="text-right">Total</th>
		<th class="text-right">PO Qty</th>
		<th></th>
	</tr>
	</thead>
	<tbody id="sales-order-lines" data-update-url="<%= sort_sales_order_lines_url %>">
	<% @sales_order.sales_order_lines.order(:id).each do |line| %>
	<%= content_tag_for :tr, line do %>
			<td width="120"><%= line.category %></td>
			<td width="120"><%= line.name %></td>
			<td width="350"><%= line.description %></td>
			<td class="text-right"><%= line.quantity %></td>
			<td class="text-right"><%= number_to_currency(line.unit_price) %></td>
			<td class="text-right"><%= number_to_currency(line.total) %></td>
			<td class="text-right"><%= line.purchase_order_lines.sum(:quantity) %> </td>
			<td class="text-right">
			<% if @sales_order.open? %>
			<% if allow? :sales_order_lines, :edit %>
				<i class="icon-resize-vertical handle"></i> |
				<%= link_to raw('<i class="icon-edit"></i>'), edit_sales_order_line_path(line) %> |
 				<%= link_to raw('<i class="icon-trash"></i>'), sales_order_line_path(line), method: :delete, data: { confirm: 'Are you sure?' }, id: "Remove" %>
			<% end %>
			<% end %>
			</td>
		<% end %>
	<% end %>
	</tbody>
</table>