<!-- <header class="navbar navbar-fixed-top navbar-inverse bg-inverse"> -->
<header >
  <!-- <div class="navbar-inner"> -->
    <div class="container">
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <!-- <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-inverse bg-inverse"> -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">MARS</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <ul class="navbar-nav mr-auto justify-content-end">
            <!-- <ul class="float-right navbar-nav"> -->
            <% if user_signed_in? %>
              <% if allow? :projects, :index %>
                <li class="nav-item"><%= link_to "Projects", projects_path, class: "nav-link" %></li>
              <% end %>
              <% if allow? :quotations, :index %>
                <li class="nav-item"><%= link_to "Quotes", quotations_path, class: "nav-link" %></li>
              <% end %>
              <% if allow? :sales_orders, :index %>
                <li class="nav-item"><%= link_to "Sales", sales_orders_path, class: "nav-link" %></li>
              <% end %>
              <% if allow? :purchase_orders, :index %>
                <li class="nav-item"><%= link_to "Purchases", purchase_orders_path, class: "nav-link" %></li>
              <% end %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Resources
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <% if allow? :companies, :index %>
                    <a class="dropdown-item"><%= link_to "Companies", companies_path %></a>
                  <% end %>
                  <% if allow? :contacts, :index %>
                    <a class="dropdown-item"><%= link_to "Contacts", contacts_path %></a>
                  <% end %>
                  <% if allow? :users, :index %>
                    <a class="dropdown-item"><%= link_to "Users", users_path %></a>
                  <% end %>
                  <% if allow? :emails, :index %>
                    <a class="dropdown-item"><%= link_to "Emails", emails_path %></a>
                  <% end %>
                </div>
              </li>
              <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, class: "nav-link", method: :delete %></li>
            <% else %>
              <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <% if user_signed_in? %>
      <div class="container" style="text-align: right">
        <p><small>Logged in as <%= current_user.name %></small></p>
      </div>
    <% end %>
</header>